.submit-button, .cancel-button {
    padding: 5px 10px;
    background-color: #004da4;
    color: #fff;
    border: none;
    cursor: pointer;
    margin: 5px;
    border-radius: 10%;
}

.add-contact-form-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
    border: 1px solid #000000;
    border-radius: 10%;
    width: 20%;
    height: 40%;
    background-color: rgba(98, 177, 208, 0.99);
}

.form-fields-container input{
    background-color: rgb(187, 224, 239);
}