.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40vh;
}

.registration-form {
    width: 400px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-field {
    margin-bottom: 15px;
}

.switch-label {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}

.button {
    margin-top: 20px;
}