.todo-element {
    background-color: #1f2154;
    padding: 10px;
    margin: 5px;
    border: 1px solid black;
    border-radius: 5px;
    max-width: 350px;
}

.done-todo {
    color: #000000;
    opacity: 40%;
}

.todo-element span {
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
}